version: "3.7"
 
services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: scrapper-dev
    ports:
      - "8000:8000"
    volumes:
      - ./:/home
    command: uvicorn app.main:app --proxy-headers --host 0.0.0.0 --port 8000 --http h11 --use-colors --log-level debug --access-log  --reload
