[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
fastapi = "*"
uvicorn = "*"
beautifulsoup4 = "*"
requests = "*"
cloudscraper = "*"
lxml = "*"
mangum = "*"

[dev-packages]

[requires]
python_version = "3.9"
